{% extends "recipes/base.html" %} {% load crispy_forms_tags %} {% comment %} ---
{% endcomment %} {% block content %}
<div class="container form-container">
  <form action="" method="post">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Login</legend>
      <!-- {{ form.as_p }} -->
      {{ form|crispy }}
    </fieldset>
    <div class="form-grp py-3 text-center">
      <input class="btn btn-outline-primary" type="submit" value="Login" />
    </div>
  </form>
  <div class="border-top pt-3 text-center">
    Don't have an account? <a href="{% url 'user-register' %}">Register here</a>
  </div>
</div>
{% endblock content %}
